
BigInt/.vs/BigInt/v15/.suo
BigInt/.vs/BigInt/v15/Browse.VC.db
BigInt/.vs/BigInt/v15/Browse.VC.opendb
BigInt/.vs/BigInt/v15/ipch/AutoPCH/6b22f8856d821ac6/BIGINTEGER.ipch
BigInt/.vs/BigInt/v15/ipch/AutoPCH/a1309af0f7faa5b5/BIGINTEGER.ipch
BigInt/.vs/BigInt/v15/ipch/AutoPCH/fe261f7072f12384/MAIN.ipch
BigInt/BigInt.sln
BigInt/BigInt/BigInt.vcxproj
BigInt/BigInt/BigInt.vcxproj.filters
BigInt/BigInt/BigInt.vcxproj.user
BigInt/BigInt/Debug/BigInt.log
BigInt/BigInt/Debug/BigInt.tlog/BigInt.lastbuildstate
BigInt/BigInt/Debug/BigInt.tlog/CL.command.1.tlog
BigInt/BigInt/Debug/BigInt.tlog/CL.read.1.tlog
BigInt/BigInt/Debug/BigInt.tlog/CL.write.1.tlog
*.tlog
*.obj
*.idb
*.exe
*.ilk
*.pdb
name_and_price/.vs/name_and_price/v15/.suo
*.db
*.opendb
*.ipch
*.sln
*.log
*.vcxproj
*.filters
separated_string/.vs/separated_string/v15/.suo
*.user
ConsoleApplication1/.vs/ConsoleApplication1/v15/.suo
